*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border: none;
}

body {
  font-family: "Prata", serif;
  color: #ffffff;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #e9c8b3;
}

.header__top {
  text-align: center;
}

.menu {
  padding-top: 34px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

/* .menu__list-item {
  display: inline-block;
} */
.menu__list{
  display: flex;
  justify-content: space-between;
}


.menu__list-item:hover {
  text-decoration: underline;
  color: #423333;
}

.header__top-line {
  height: 0;
  border-top: 1px solid #693b2b;
  margin-top: 16px;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 7%;
  margin-top: 55px;
}

.header__bottom-left {
  width: 50%;
  position: relative;
}

.header__bottom-img {
  width: 70%;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.header__bottom-right {
  width: 50%;
  display: inline-block;
  margin-top: 7%;
  margin-right: 40px;
}
.header__bottom-item {
  font-size: 5vw;
  line-height: 9vw;
  text-align: center;
  text-transform: uppercase;
}
.header__bottom-item1 {
  color: #826767;
}

.title {
  font-size: 50px;
  line-height: 68px;
  text-transform: uppercase;
  text-align: center;
}

.line {
  height: 0px;
  border: 1px solid #693b2b;
  margin-top: 1px;
}

.aboutMe {
  color: #000000;
}

.aboutMe__title {
  margin-top: 40px;
}

.aboutMe__title-line {
  width: 279px;
}

.aboutMe__text {
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  margin-top: 50px;
}

.aboutMe__galery {
  text-align: center;
}

.aboutMe__galery-item {
  margin-top: 30px;
  display: inline-block;
}

.aboutMe__galery-item + .aboutMe__galery-item {
  margin-left: 13px;
}

.aboutMe__quote {
  text-align: center;
  color: #000000;
  margin-top: 30px;
}

.aboutMe__quote-text {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 24px;
}

.aboutMe__quote-author {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
}

.experience {
  background-color: #e9c8b3;
  margin-top: 36px;
}

.experience__title {
  color: #ffffff;
  padding-top: 30px;
}

.experience__title-line {
  width: 187px;
}

.experience__content {
  display: flex;
}

.experience__content-leftTitle {
  display: flex;
  align-items: center;
  margin-left: 18px;
  font-size: 30px;
  line-height: 41px;
}
.experience__content-rightTitle {
  display: flex;
  align-items: center;
  margin-right: 18px;
  font-size: 30px;
  line-height: 41px;
}

.experience__content-pre {
  display: inline-block;
}

.experience__content-rightASCII {
  justify-content: flex-end;
}

.success {
  margin-top: 20px;
  margin-bottom: 140px;
}

.success__list-item {
  font-size: 18px;
  line-height: 24px;
}

.success__list-item + .success__list-item {
  margin-top: 34px;
}

.success__list-item::before {
  content: "◆";
  color: #ffffff;
}

.experience__line {
  margin-top: 30px;
  border-right: 1px solid white;
  height: 500px;
}
.experience__content-left {
  width: 50%;
}
.experience__content-leftASCII {
  width: 100%;
  display: flex;
}
.experience__content-rightASCII {
  width: 100%;
  display: flex;
}
.experience__content-right {
  width: 49%;
}

.failure {
  margin-top: 20px;
}

.failure__list-item {
  font-size: 18px;
  line-height: 24px;
  padding-left: 21px;
}

.failure__list-item::before {
  content: "◆";
  color: #ffffff;
}
.portfolio {
  color: #000000;
}

.portfolio__title {
  margin-top: 40px;
}

.portfolio__title-line {
  width: 383px;
}

.portfolio__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__content-title {
  word-spacing: 10px;
  font-style: italic;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin-top: 60px;
}

.portfolio__content-img {
  margin-top: 40px;
}

.fotter {
  background-color: #e9c8b3;
  height: 140px;
  margin-top: 70px;
}

.footer__title {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  padding-top: 13px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 19px;
}
.footer__contacts {
  padding-top: 15px;
}
.contacts__list-item + .contacts__list-item {
  margin-top: 15px;
}

.contacts__list-mail {
  position: relative;
  padding-left: 30px;
}
.contacts__list-mail:hover {
  text-decoration: underline;
  color: #423333;
}

.contacts__list-mail::before {
  content: "";
  position: absolute;
  background-image: url("../img/mail.svg");
  width: 20px;
  height: 20px;
  left: 0;
}

.contacts__list-git {
  position: relative;
  padding-left: 30px;
}
.contacts__list-git:hover {
  text-decoration: underline;
  color: #423333;
  fill: blueviolet;
}

.contacts__list-git::before {
  content: "";
  position: absolute;
  background-image: url("../img/github.svg");
  width: 20px;
  height: 20px;
  left: 0;
}

.footerMenu__list-item:hover {
  text-decoration: underline;
  color: #423333;
}

.footerMenu__list-item + .footerMenu__list-item {
  margin-top: 10px;
}
